# ========================
# Java Build & IDE Files
# ========================

*.class
*.log
*.jar
*.war
*.ear
*.tmp
*.swp
*.bak
*.old

# ================
# NetBeans Specific
# ================

nbproject/private/
build/
dist/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# =================
# VS Code Specific
# =================

.vscode/

# =================
# OS / Editor Files
# =================

.DS_Store
Thumbs.db
desktop.ini

# =================
# Other
# =================

manifest.mf
